{%extends "layout/base.html"%}

{%block title%} Subscription Success {%endblock%}

{%block content%}
    <div class="msg-wrapper">
    <h2 class="success-header">Subscription Added</h2>
    <p class="success-msg">
        You have successfully subscribed to the stock price notifier for the stock "{{ result.symbol }}". You will receive an email when the price of the {{ result.symbol }} stock rises above {{ result.threshold }}.
    </p>
    <a href="{{ url_for('index') }}" class="back-btn">Back To Home</a>
    </div>    
    <table>
        <h2 class="title">Active Subscribers</h2>
        <thead>
            <tr>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Symbol</th>
                <th>Threshold</th>
                <th>Frequency</th>
                <th>Notification Mode</th>
            </tr>
        </thead>
        <tbody>
            {% for subscriber in result['subscribers'] %}
            <tr>
                <td>{{subscriber['email']}}</td>
                <td>{{subscriber['phone_number']}}</td>
                <td>{{subscriber['symbol']}}</td>
                <td>{{subscriber['threshold']}}</td>
                <td>{{subscriber['frequency']}}</td>
                <td>{{subscriber['notification_mode']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{%endblock%}